Source: pocket-home
Section: x11
Priority: optional
Maintainer: Andrew Hay Kurtz <software@nextthing.co>
Build-Depends: debhelper (>= 9), libasound2-dev, libcurl3-dev, libflac-dev,
 libfreetype6-dev, libgl1-mesa-dev, libi2c-dev, libjpeg-dev, libjuce-dev,
 libnm-glib-dev, libpng-dev, libssl-dev, libvorbis-dev, libx11-dev,
 libxcursor-dev, libxinerama-dev, libxrandr-dev, network-manager-dev, pkg-config
Standards-Version: 3.9.8
Homepage: http://opensource.nextthing.co

Package: pocket-home
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: network-manager
Description: home screen for PocketCHIP
 It can launch programs and change system settings
